* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html,
  body,
  .wrapper {
    height: 100%;
  }
  
  @keyframes rotate {
    100% {
      background-position: 15% 50%;
    }
  }
  body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url("stacked-waves-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Euclid Circular A";
    color: #000;
    animation: rotate 5s infinite alternate linear;
  }
  .container {
    width: 30em;
    background: rgba(0,0,0,.6);
    padding: 6em 2em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.8em;
    box-shadow: 0 45px 60px rgba(30, 22, 1, 0.3);
  }
  .container  h1 {
    margin: 0 0 1em;
    padding:0;
    color: #fff;
    text-align: center;
  }
  .inputfield {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .input {
    height: 3em;
    width: 3em;
    border: 2px solid #dad9df;
    outline: none;
    text-align: center;
    font-size: 1.5em;
    border-radius: 0.3em;
    background-color: #ffffff;
    outline: none;
    
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  #submit {
    background-color: #00c3ff;
    border: none;
    outline: none;
    font-size: 1.2em;
    padding: 0.8em 2em;
    color: #000000;
    border-radius: 2em;
    margin: 1em auto 0 auto;
    cursor: pointer;
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
  .input:disabled {
    color: #89888b;
  }
  .input:focus {
    border: 3px solid #00c3ff;
  }